@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-page {
    background-color: #f5f6f9;
}

.bg-header {
    background-color: #FFF;
}

body,
button {
    color: #222;
}

.text-muted {
    color: rgba(0, 0, 0, 0.3);
}

.button {
    box-shadow: 0 2px 7px 0 #b0eaff;
}
